<section style="
{{#if dataTrump.worldWillEnd}}
  background-image:url({{dataTrump.worldWillEnd}});
{{else}}
  background-image:url({{dataTrump.bgImg}});
{{/if}}
">
  <article>
    <h1>TrumpScrapping</h1>
    <p>If the 10 first Trump tweets gets more than 350.000 likes the world explodes</p>
    <h3>Total likes:</h3>
    <h2 class="total-likes">{{dataTrump.totalLikes}}</h2>
    <ul class="likes-list">
    {{#each dataTrump.tweetLikes}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </article>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script>

  const trying = () =>{
    axios.get('http://localhost:3000/data')
    .then(function (response) {
      const h2 = document.querySelector('.total-likes')
      h2.innerHTML = response.data.totalLikes

      const bgImg = document.querySelector('section');
      bgImg.style.backgroundImage = `url(${response.data.worldWillEnd || response.data.bgImg })`
    
      const ul = document.querySelector('.likes-list');
      const listLikes = response.data.tweetLikes.reduce((a,el) =>{
        return `${a}
        <li>${el}</li>`
      },'')

      ul.innerHTML = listLikes
    })
    .catch(function (error) {
      console.log(error)
    }); 
  }
  setInterval(trying,500)
  
</script>
